<div calss='row'>
    <div class=''>
        <h1>Booked Days</h1>
        <hr />
    </div>
</div>
<div class="row">
    {{!-- <form action='/days' method='get'> --}}
        {{#each week_days}}
        <div class='two columns'>
            <span class='{{color}}'>{{day}}</span>
            <hr />
            {{#each waiters}}
            <h6 class='caps'>{{names}}</h6>
            {{/each}}
        </div>
        {{/each}}

    {{!-- </form> --}}
</div>
<hr />
<div class='row'>
    <form action='/reset' method="post">
        <button type="submit" name="button" class="btn-primary">Reset</button>
    </form>
</div>