.caps{
    text-transform:capitalize;
    margin-left: 11px;
}
.red{
    background-color: red;
    text-align: center;
    font-size: 20px;
    text-align: center;
    margin-right: 1px;
    padding: 11px;
    border: 2px 
}
.yellow{
    background-color: orange;
    text-align: center;
    font-size: 20px;
    text-align: center;
    margin-right: 1px;
    padding: 11px;
    border: 2px ;
}
.green{
    background-color: green;
    text-align: center;
    font-size: 20px;
    text-align: center;
    margin-right: 1px;
    padding: 11px;
    border: 2px 
}

label.label-clickable input{
    display: inline-block;
    margin-bottom: 0.5rem;
}
label{
    cursor: pointer;
}
.beInLine{
    display: inline;
    margin: 0.5rem;
    padding-right: 15px; 
    border-right: 2px solid grey;
}

/*skeleton*/
.one.column,
.one.columns                    { width: 4.66666666667%; }
.two.columns                    { width: 13.3333333333%; }
.three.columns                  { width: 22%;            }
.four.columns                   { width: 30.6666666667%; }
.five.columns                   { width: 39.3333333333%; }
.six.columns                    { width: 48%;            }
.seven.columns                  { width: 56.6666666667%; }
.eight.columns                  { width: 65.3333333333%; }
.nine.columns                   { width: 74.0%;          }
.ten.columns                    { width: 82.6666666667%; }
.eleven.columns                 { width: 91.3333333333%; }
.twelve.columns                 { width: 100%; margin-left: 0; }

.one-third.column               { width: 30.6666666667%; }
.two-thirds.column              { width: 65.3333333333%; }

.one-half.column                { width: 48%; }